{% extends "home/base.html" %}

{% block content %}
<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Категорії</h1>
        {% if user.is_staff %}
        <a href="{% url 'menu:category_create' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Створити нову категорію
        </a>
        {% endif %}
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <a href="{% url 'menu:dish_list' category.id %}" class="btn btn-primary">
                        Переглянути страви
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}