{% extends "home/base.html" %}

{% block content %}
<div class="container py-4">
    <h1>Страви у категорії</h1>
    <div class="row">
        {% for dish in dishes %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ dish.name }}</h5>
                        <p class="card-text">{{ dish.description|truncatewords:15 }}</p>
                        <p class="card-text"><strong>Ціна:</strong> {{ dish.price }} грн</p>
                        <form method="post" action="{% url 'add_to_cart' dish.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Замовити</button>
                        </form>
                        <a href="{% url 'menu:dish_detail' dish.id %}" class="btn btn-primary">Детальніше</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </ul>

    {% if user.is_staff %}
    <div class="mt-4">
        <a href="{% url 'menu:dish_create' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Створити страву
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
